
{% extends 'Showroom/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5" style ="text-align: center;">
    <h1>Welcome to your Showroom</h1>
    
</div>
<div class="container" style ="text-align: center;">
    <a href="{% url 'Showroom:newprofile' %}" class="btn btn-warning" >New Brand</a>
    <hr>
    <h3>Our Brands</h3>
    
    <div class="row">
        {% for brand in brands  %}
        <div class="col-md-3">
            <div class="card ">
                <img class="card-img-top" src="{{brand.Logo.url}}" alt="Profile picture"  height="250">
                <div class="card-body">
                    <h5 class="card-title">{{brand.name}}</h5>
                    
                    
                    <a href="{% url 'Showroom:brand_detail' brand.id %}" class="btn btn-primary" >View Profile</a>
                    <br>
                    <br>
                    <a href="{% url 'Showroom:delete_brand' brand.id %}" class="btn btn-danger" >Delete Brand</a>
                </div>
            </div>
            <p></p>
        </div>


        {% endfor %}
    </div>
</div>

{% endblock %}
