{% extends 'Showroom/base.html' %}
{% load static %}
{% block content %}


    <form method="post" style="padding: 0 345px 0 345px; margin: 34px; " >
        <h1>Contact us</h1>
        {{form.as_p}}
        {% comment %} <div class="form-group">
            {{form.name.label_tag}}
            <input type="text" class="form-control" name="{{form.name.name}}">
        </div>
        <br>
        <div class="form-group">
            {{form.email.label_tag}}
            <input type="text" class="form-control" name="{{form.email.name}}">
        </div>
        <br>
        <div class="form-group">
            {{form.verify.label_tag}}
            <input type="text" class="form-control" name="{{form.verify.name}}">
        </div>
        <br>
        <div class="form-group">
            {{form.text.label_tag}}
            <textarea class="form-control" name="form.text.name"></textarea> 
        </div>
        <br> {% endcomment %}

        {% csrf_token %}    
        
        <input class = "btn btn-success" type="submit" value="Submit">

{% endblock content %}