{% extends 'blog/base.html' %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p class ='text-muted' >Published on {{post.pub_date}} </p>
    <p>{{ post.content }}</p>
    <p>Author: <b>{{ post.author.username }}</b></p>
    
    <hr>
    <br>
    <br>
    
    <h3>Comments</h3>
    <ul>
    
        {% for comment in comments %}
            <li>{{ comment.content }} - by <b>'{{ comment.author.username }}'</b></li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url 'blog:add_comment_to_post' post.pk %}">Add a comment</a>
    <br>
    <br>
    <a class="btn btn-danger" href="{% url 'blog:delete_post' post.pk %}">Delete Post</a>
{% endblock %}
